<h1>Burgers!</h1>

<h2>Burgers that have not been eaten</h2>
    <ul>
        {{#each burgers}}
        {{#unless devoured}}
        <span><strong>{{this.id}} - {{this.burger_name}}</strong></span>
        {{/unless}}
        {{/each}}
    </ul>
    <button type="button" class="eatburger-btn" id="eat-button" data-id="{{this.id}}" data-newDevoured="{{devour}}">DEVOUR</button>
<h2>Devoured burgers</h2>
 <ul>
        {{#each burgers}}
        {{#if devoured}}
        <span><strong>{{this.id}} - {{this.burger_name}}</strong></span>
        {{/if}}
        {{/each}}
    </ul>
<h2>Input a burger here</h2>
<form action="create-form">
    <div class="form-group">
        <label for="burg">Burger name</label>
        <input type="text" id="burg" name="name">
    </div>
    <button type="submit">Add burger</button>
</form>